  header, .header {    

    #main-menu {
      li:first-child {
        margin-left: 17%;
      }
		}
  }

  main, .main {
    #main-view-container {
      padding-top: 5%;  
      padding-left: 5%;

      .block {
        width: 29%;
        padding: 6% 0;
        margin: 1%;

        a { padding-top: 19%; } 
      }
    }
  }