main {
	background: url('../images/grass_bg.jpg') no-repeat center center fixed;
  background-repeat: no-repeat; 
}

main, .main {
  display: block;
  width: 100%;   
  min-height: 100%;
  padding: 0 0 0px 0;
  color: #333;
  overflow: hidden; 
  // background-color: $viewBgColor;

  // ORIGINAL
  // #main-view-container {
  //   position: absolute;
  //   top: 0; right: 0; bottom: 0; left: 0;
  //   background-color: #333333;
  // }

  @import '../main-view';
  @import '../music-view';
}