/*
Error: Undefined variable: "$activeMenu".
        on line 59 of C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/_mobile-menu.scss
        from line 29 of C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/styles.scss

54:   width: 100%;
55:   height: 100%;
56:   min-height: 100%;
57:   background-color: #fff;
58:   color: #111;  
59:   transition: left 0.2s linear;
60:   overflow-y: visible;
61: }
62: 
63: // Class that allows the .wrapper to slide which shows the mobile menu.
64: .showMenu { left: 70%; }

Backtrace:
C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/_mobile-menu.scss:59
C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/styles.scss:29
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/script/tree/variable.rb:49:in `_perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/script/tree/node.rb:50:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:88:in `block in with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:88:in `with_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `block in with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:115:in `with_frame'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/stack.rb:79:in `with_base'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/engine.rb:268:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.11/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/bin/compass:44:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
C:/Ruby193/bin/compass:23:in `load'
C:/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$activeMenu\".\A         on line 59 of C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/_mobile-menu.scss\A         from line 29 of C:/Users/Kevin/Desktop/CODE/ProjIdeas/ok/client/app/sass/partials/layouts/base/styles.scss\A \A 54:   width: 100%;\A 55:   height: 100%;\A 56:   min-height: 100%;\A 57:   background-color: #fff;\A 58:   color: #111;  \A 59:   transition: left 0.2s linear;\A 60:   overflow-y: visible;\A 61: }\A 62: \A 63: // Class that allows the .wrapper to slide which shows the mobile menu.\A 64: .showMenu { left: 70%; }"; }
