<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Artist Name</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body data-ng-app="artistApp" data-ng-controller="SiteWideCtrl as site" ng-click="showUrl()">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Mobile Menu -->
    <div id="mobile-menu-layer" data-ng-controller="mobileMenuCtrl">
      <i data-ng-click="closeMenu()" class="fa fa-close"></i>
      <div data-ng-hide="isMainView" data-ng-include src="'views/partials/mobile_menu.html'"></div>
      <div data-ng-show="isMainView" data-ng-include src="'views/partials/social_media_menu.html'"></div>  
    </div>
    <div class="wrapper" data-ng-class="{showMenu: showMenu}">

    <header class="header" data-ng-class="{showMenu: showMenu}" data-ng-controller="HeaderCtrl">
      <h1 class="site-title"><a href="#/">artist.name</a></h1>
      <div data-ng-hide="isMainView" data-ng-include src="'views/partials/main_menu.html'"></div>
      <i data-ng-click="toggleMenu()" class="fa fa-bars"></i>
      <img class="curve-img" src="images/curv-long.gif">
    </header>

      <main>
        <div class="main">
          <div class="row">
            <div data-ng-include src="'views/partials/social_media_menu.html'"></div>
          </div>
          <div data-ng-view=""></div>
        </div>
      </main>
      
      <!-- [TODO] delete the padding. style in css page -->
      <footer style="padding: 40px;">
        <div class="footer">

        </div>
      </footer>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/sitewide.js"></script>
        <script src="scripts/controllers/music.js"></script>
        <script src="scripts/controllers/videos.js"></script>
        <script src="scripts/controllers/pictures.js"></script>
        <script src="scripts/controllers/bio.js"></script>
        <script src="scripts/controllers/tour-dates.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/mobileMenu.js"></script>
        <script src="scripts/controllers/album.js"></script>
        <script src="scripts/directives/index.js"></script>
        <script src="scripts/services/index.js"></script>
        <script src="scripts/scripts.js"></script>
        <!-- endbuild -->
</body>
</html>
