$primaryBlue: #00CCCC; 
$activeMenu: #00CCCC;
$activeAlbum: #FF0000;
$activeAlbum: #00CCCC;
$mainBgColor: #333333;
$footerBgColor: #000000;

// social media colors
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #517fa4;

// Views
$viewBgColor: #444a34;
$mobileViewBgColor: #333333;

// Containers (windows within a view. containers of content!)
$container: #ffffff;
$container2: #222222;
//$mContainer
//$mContainer2
