<div class="tour-dates-view-container view-container">
	<div id="tour-dates-container">
		<div id="mobile-tour-dates">
			<ul>
				<li>
					<p>3/14/15 @ 9:30 PM - $25</p>
					<p>House of Blues - Solana Beach, CA 92024 </p>
				</li>
				<li>
					<p>3/15/15 @ 10:00 PM - $20 ($15 before 8:00)</p>
					<p>Petes Bar - Ventura, CA 92145 </p>
				</li>
				<li>
					<p>4/3/15 @ 9:30 PM - $25</p>
					<p>Greg and Susan's Bar & Grill - Portland, OR 94895</p>
				</li>
			</ul>
		</div>
		<table>
			<thead>
				<tr>
					<th>LOCATION</th>
					<th>PRICE</th>
					<th>BUY</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<strong>3/14/15 @ 9:30 PM - </strong> House of Blues - Solana Beach, CA 92024
					</td>
					<td>
						$25.00
					</td>
					<td>
						At ticket window or TICKETMASTER
					</td>
				</tr>
				<tr>
					<td>
						<strong>3/15/15 @ 10:00 PM</strong> Petes Bar - Ventura, CA 92145
					</td>
					<td>
						Come before 8:00 @ $15.00. $20 after at the door.
					</td>
					<td>
						At the door.
					</td>
				</tr>
				<tr>
					<td>
						<strong>4/3/15 @ 10:00 PM</strong> Greg and Susan's Bar & Grill - Portland, OR 94895
					</td>
					<td>
						$15
					</td>
					<td>
						At the door.
					</td>
				</tr>
				<tr>
					<td>
						<strong>4/15/15 @ 9:00 PM</strong> The OK Lounge - Salem, WA 96732
					</td>
					<td>
						$25
					</td>
					<td>
						At the door, or online at our website www.theoklounge.com
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	
