.tour-dates-view-container {
	#mobile-tour-dates {
		ul {
			width: 60%;
			margin: 0 auto;

			li {
				padding: 10% 0;
				font-size: 20px;
				text-align: center;

				p {
					line-height: 30px;
				}
			}
		}
	}
}
