.album-view-container {
	width: 100%; min-height: 100%;
	padding-bottom: 80px;
	// background-color: #333;



	.columns {
		position: relative;
		display: inline-block;
		min-height: 500px;
		transition: all 0.1s linear;
		box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
	}

	.left-column {
		display: inline-block;
		float: left;
		width: 25%;
		padding: 20px 0;
		margin: 40px 1% 10px 2%;
		background-color: $container2;

		h3 {
			padding: 55px 0 8px 8%;
			margin: 0;
			font-size: 27px;
			width: 80%;
			margin: 0 auto; 
			color: #fff;
			border-bottom: 2px solid rgba(50,50,50,1);
		}

		h4 {
			width: 100%;
			padding: 55px 0 10px 0;
			font-size: 20px;
			text-align: center;
			color: #fff;
		}

		#albums {
			width: 80%;
			min-height: 300px;
			padding: 20px 0;
			margin: 0 10%;
			border-bottom: 2px solid rgba(50,50,50,1);

			li {
				width: 100%;
				margin: 10px 0;
				font-family: Oswald, Lato, Tahoma, sans-serif;
				letter-spacing: 1px;
				line-height: 20px;
								.activeAlbum { color: $activeAlbum; }
				a {
					color: #fff;
					transition: all 0.2s linear;
				}

				a:hover { 
					color: $activeMenu; 
					text-decoration: none; 
				}

				a:hover, a:visited, a:focus { text-decoration: none; }
			}
		}
 
		p {
			margin: 10px auto;
			text-align: center;
			
			img {
				width: 100px;
				margin: 10px auto;  
				text-align: center;
			}
		}
		
	}

// Right Column 

	.right-column {		
		float: right;
		width: 68%;
		background-color: $container;
		margin: 20px 2% 10px 1%;
		
		.ajax-screen {
			width: 100px;
			height: 100px;
			background-image: url('../images/ajax-loader.gif');
			background-repeat: no-repeat;
			background-position: center;
		}		

		h2 {
			padding: 40px 0 0 4%;
			margin: 0;
			font-size: 45px;
			color: #111;
			background-color: $container;
		}


		#mobile-albums {
			display: none;
		}


		// Album image/title/itunes & amazon
		#top {
			display: block;
			width: 100%;
			height: 200px; min-height: 200px;
			padding: 20px 10px;


			// 3 columns
			.describes {
				float: left;
			}

			.left {
				width: 25%;

				img {
					width: 90%;
					padding: 0;
					margin: 0 5%;
				}
			}
			.middle { 
				width: 55%;

				h2 {
					padding: 0 2%;
					margin: 0;
					font-size: 30px;
				}

				// album year
				h5 {
					padding: 10px 0 10px 4%;	
				}
			}
			.right { 
				width: 20%; 
				
				img {
					width: 80%;
					margin: 10px 5% 10px 15%;
				}
			}
		}

		#middle {
			display: block;
			width: 100%;
			padding: 10px;

			p {
				width: 90%;
				padding: 10px 0;
				margin: 0 auto;
				font-family: 'Open Sans';
				line-height: 35px;
			}

			#tracklisting, #songs {
				width: 90%;
				padding-top: 40px;
				margin: 10px auto;
				
				h3 {
					font-weight: bold;
					font-size: 30px;
					padding: 10px 0;
				}

				ul {
					li {
						padding: 3px 0;
						font-family: 'Open Sans';
					}
				}
			}
			
		}
		}

		#bottom {
			display: block; 
			width: 100%;
			padding: 10px;

			// DELETE this. Replaing with soundcloud links
			img {
				width: 90%;
				margin: 20px 5%;
			}

			img:first-child {
				margin-top: 0;
			}
	}
}